a {
  text-decoration: none;
}
.imgStyling {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
}

.imgStyling:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}
